---
import '$lib/styles/app.css'
import { Image } from 'astro:assets'
import forestBackground from '@assets/hero/forest-background.svg'
import cloudTwo from '@assets/hero/cloud-hero-2.svg'
import cloudOne from '@assets/hero/cloud-hero-1.svg'
---

<div class="min-h-screen realtive bg-gradient-to-t from-secondary-200 via-secondary-200 to-primary-400">
    <div class="absolute ml-8 md:ml-0 top-24 md:top-32 xl:top-20 md:left-20">
        <div class="relative fade-in-1">
            <h1 class="text-display-1-mobile md:text-display-2-desktop relative
            lg:text-display-1-desktop font-black text-primary-800 leading-[0.5]"
            >Hasith</h1>
            <Image
              src={cloudOne}
              alt="Top cloud illustration"
              loading="eager"
              class="h-auto top-[-1em] md:top-[-5em] left-[-3em] absolute z-40 animate-move-right"
            />
        </div>
        <div class="relative fade-in-2 delay-300 z-0">
            <h1 class="text-display-1-mobile md:text-display-2-desktop z-10 relative
            lg:text-display-1-desktop font-display font-black text-primary-800"
            >De Alwis</h1>
            <Image
              src={cloudTwo}
              alt="Bottom cloud illustration"
              loading="eager"
              class="h-auto top-[-2em] left-[-1em] md:left-[-2em] absolute z-30 animate-move-left"
            />
        </div>
    </div>

    {/* Absolute image background uses a Image tag instead of a background image for optimizations */}
    <div class="absolute bottom-0 xl:h-auto overflow-hidden z-0 image-render">
        <Image
          src={forestBackground}
          alt="Forest background for hero section"
          class="object-cover image-render w-screen"
          id="forest"
          loading="eager"
        />
    </div>
</div>

<style>
    .image-render {
        image-rendering: optimizeQuality;
    }

    @keyframes move-left {
        0% { transform: translate3d(0, 0, 0); }
        30% { transform: translate3d(0, 0, 0); }
        100% { transform: translate3d(-100vw, 0, 0); visibility: hidden; }
    }

    @keyframes move-right {
        0% { transform: translate3d(0, 0, 0); }
        20% { transform: translate3d(0, 0, 0); }
        100% { transform: translate3d(100vw, 0, 0); visibility: hidden; }
    }

    @keyframes fade-in-from-bottom-1 {
        0% { opacity: 0; transform: translate3d(0, 20px, 0); }
        100% { opacity: 1; transform: translate3d(0, 0, 0); }
    }

    @keyframes fade-in-from-bottom-2 {
        0% { opacity: 0; transform: translate3d(0, 80px, 0); }
        100% { opacity: 1; transform: translate3d(0, 0, 0); }
    }


    .fade-in-1 {
        animation: fade-in-from-bottom-1 0.5s ease forwards;
    }

    .fade-in-2 {
        animation: fade-in-from-bottom-2 1s ease forwards;
    }

    .animate-move-left {
        animation: move-left 3s ease-in-out forwards;
        will-change: transform, visibility;
    }

    .animate-move-right {
        animation: move-right 3s ease-in-out forwards;
        will-change: transform, visibility;
    }
</style>
